 /*  *{ box-sizing: border-box;}
html, body{ height: 100%;
background: #FFF7E8; width: 100%; 
} */

body {
margin: 0;
padding: 0;
height: 100%;
width: 100%;
overflow-x: hidden;
background-color: #FFF7E8;

}






.stroke{

    position: absolute;
    width: 300%;
    animation: text 6s linear infinite;
    top: 0;
    left: 0;
    word-wrap: nowrap;
    z-index: 1;
}

@keyframes text{
0%{ left: -100%; top: 0;}
100%{ left: 0%; top: 0;}

}

.bu1{

position: absolute;
margin-top: 8%;
margin-left: 5%;


}

.b1, .bc1 {

  position: absolute;
  object-fit: contain;
  transition: opacity 0.1s ease;

  
}

.b1{
  opacity: 1;
  z-index: 1;
}

.bc1{
  opacity: 0;
  z-index: 1;
}
.bu1:hover .b1{
  opacity: 0;
}
.bu1:hover .bc1{
  opacity: 1;
}

 







.bu2{

position: absolute;
margin-left: 23%;
margin-top: 8%;

}

.b2, .bc2 {

  position: absolute;
  object-fit: contain;
  transition: opacity 0.1s ease; 
  
}

.b2{
  opacity: 1;
  z-index: 1;
}

.bc2{
  opacity: 0;
  z-index: 1;
}
.bu2:hover .b2{
  opacity: 0;
}
.bu2:hover .bc2{
  opacity: 1;
 
}









.bu3{

position: absolute;

margin-left: 43%;
margin-top: 8%;

}

.b3, .bc3 {

  position: absolute;
  object-fit: contain;
  transition: opacity 0.1s ease; 
  
}

.b3{
  opacity: 1;
  z-index: 1;
}

.bc3{
  opacity: 0;
  z-index: 1;
}
.bu3:hover .b3{
  opacity: 0;
}
.bu3:hover .bc3{
  opacity: 1;
}







.bu4{

position: absolute;

margin-left: 63%;
margin-top: 8%;

}

.b4, .bc4 {

  position: absolute;
  object-fit: contain;
  transition: opacity 0.1s ease; 
  
}

.b4{
  opacity: 1;
  z-index: 1;
}

.bc4{
  opacity: 0;
  z-index: 1;
}
.bu4:hover .b4{
  opacity: 0;
}
.bu4:hover .bc4{
  opacity: 1;
}





.bu5{

position: absolute;

margin-left: 82%;
margin-top: 8%;

}

.b5, .bc5 {

  position: absolute;
  object-fit: contain;
  transition: opacity 0.1s ease; 
  
}

.b5{
  opacity: 1;
  z-index: 1;
}

.bc5{
  opacity: 0;
  z-index: 1;
}
.bu5:hover .b5{
  opacity: 0;
}
.bu5:hover .bc5{
  opacity: 1;
}










.shtrih {
width: 532px;
height: 254px;
margin-left: 30%;
margin-top: -16%;
background: url("./img/shtrix.svg");
animation: flick 3s steps(1) infinite;
z-index: 1;

}

@keyframes flick{
 0%{ background-position: 0px top;}
 70%{ background-position: -532px top;}
 80%{ background-position: -1064px top;}
 90%{ background-position: -1596px top;}

}

.el1{
    margin-top: 11%;
    margin-left: 10%;
    animation: el1 6s linear infinite both;
    width: 23%;
    height: 20%;
    z-index: -1;

    
}

@keyframes el1 {
   0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}

.el2{
    margin-top: -22%;
    margin-left: 67%;
    animation: el2 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

@keyframes el2 {
  0% {transform: rotateY(0);}
  100% {transform: rotateY(360deg); }
}

.el3{
    margin-top: 11%;
    margin-left: 7%;
    animation: el3 5s linear infinite both;
    width: 18%;
    height: 12%;
}

@keyframes el3 {
  0% {transform: rotateY(0);}
  100% {transform: rotateY(360deg);}
}

.el4{
    margin-top: -15%;
    margin-left: 72%;
    animation: el4 8s linear infinite both;
    width: 17%;
    height: 11%;
}

@keyframes el4 {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}









.cont2{
  margin-top: 5%;
flex-direction: row;
justify-content: center;
align-items: center;
}




.k6{
width: 20%;
height: 44%;
background-color: #B44B47;
display: flex;
  justify-content: center;
  align-items: center;
position: absolute;
margin-left: 0%;
}


.b6, .bc6 {

  position: absolute;
  object-fit: contain;
  transition: opacity 0.1s ease;

  
}

.b6{
  opacity: 1;
  z-index: 1;
  animation: bounce-top 1.5s infinite both;
}

@keyframes bounce-top {
  0% {transform: translateY(-45px); animation-timing-function: ease-in; opacity: 1;}
  24% {opacity: 1;}
  40% {transform: translateY(-24px); animation-timing-function: ease-in;}
  65% {transform: translateY(-12px); animation-timing-function: ease-in;}
  82% {transform: translateY(-6px); animation-timing-function: ease-in;}
  93% {transform: translateY(-4px); animation-timing-function: ease-in;}
  25%,
  55%,
  75%,
  87% {transform: translateY(0px); animation-timing-function: ease-out;}
  100% {transform: translateY(0px);animation-timing-function: ease-out; opacity: 1;}
}

.bc6{
  opacity: 0;
  z-index: 1;
}
.k6:hover .b6{
  opacity: 0;
  animation-play-state: paused;
}
.k6:hover .bc6{
  opacity: 1;
}






.k7{

position: absolute; margin-left: 20%;
background-color: #F5DE91;
width: 20%;
height: 44%;
display: flex;
  justify-content: center;
  align-items: center;
}

.b7, .bc7 {

  position: absolute;
  object-fit: contain;
  transition: opacity 0.1s ease;

  
}

.b7{
  opacity: 1;
  z-index: 1;
  animation: rotate-center 1.5s ease-in-out infinite both;
}

@keyframes rotate-center {
  0% { transform: rotate(0);}
  100% {transform: rotate(360deg);}
}

.bc7{
  opacity: 0;
  z-index: 1;
}
.k7:hover .b7{
  opacity: 0;
  animation-play-state: paused;
}
.k7:hover .bc7{
  opacity: 1;
}






.k8{

position: absolute; margin-left: 40%;
background-color: #82A985;
width: 20%;
height: 44%;
display: flex;
  justify-content: center;
  align-items: center;
}
.b8, .bc8 {

  position: absolute;
  object-fit: contain;
  transition: opacity 0.1s ease;

  
}

.b8{
  opacity: 1;
  z-index: 1;
   animation: jello 1.5s infinite both;
}

@keyframes jello {
  0% {transform: scale3d(1, 1, 1);}
  30% {transform: scale3d(1.25, 0.75, 1);}
  40% {transform: scale3d(0.75, 1.25, 1);}
  50% {transform: scale3d(1.15, 0.85, 1);}
  65% {transform: scale3d(0.95, 1.05, 1);}
  75% {transform: scale3d(1.05, 0.95, 1);}
  100% {transform: scale3d(1, 1, 1);}
}

.bc8{
  opacity: 0;
  z-index: 1;
}
.k8:hover .b8{
  opacity: 0;
  animation-play-state: paused;
}
.k8:hover .bc8{
  opacity: 1;
}








.k9{

position: absolute; margin-left: 60%;
background-color: #B44B47;
width: 20%;
height: 44%;
display: flex;
  justify-content: center;
  align-items: center;
}
.b9, .bc9 {

  position: absolute;
  object-fit: contain;
  transition: opacity 0.1s ease;

  
}

.b9{
  opacity: 1;
  z-index: 1;
  animation: scale-down 1s linear infinite both;
}

@keyframes scale-down {
  0% {transform: scale(1);}
  100% {transform: scale(0.5); }
}


.bc9{
  opacity: 0;
  z-index: 1;
}
.k9:hover .b9{
  opacity: 0;
   animation-play-state: paused;
}
.k9:hover .bc9{
  opacity: 1;
}







.k10{

position: absolute; margin-left: 80%;
background-color: #2C3872;
width: 20%;
height: 44%;
display: flex;
  justify-content: center;
  align-items: center;
}
.b10, .bc10 {

  position: absolute;
  object-fit: contain;
  transition: opacity 0.1s ease;

  
}

.b10{
  opacity: 1;
  z-index: 1;
   animation: wobble 1.5s infinite both;
}

@keyframes wobble {
  0%,
  100% {transform: translateX(0%); transform-origin: 50% 50%;}
  15% {transform: translateX(-30px) rotate(-6deg);}
  30% {transform: translateX(15px) rotate(6deg);}
  45% {transform: translateX(-15px) rotate(-3.6deg);}
  60% {transform: translateX(9px) rotate(2.4deg);}
  75% {transform: translateX(-6px) rotate(-1.2deg);}
}

.bc10{
  opacity: 0;
  z-index: 1;
}
.k10:hover .b10{
  opacity: 0;
  animation-play-state: paused;
}
.k10:hover .bc10{
  opacity: 1;
}






.play{
 display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}


.div1{
 
background-color: #2C3872;
width: 40%;
height: 54vw;
margin-top: 23.9%;
display: flex;
  justify-content: center;
  align-items: center;
}

.div2{


  background-color: #F5DE91;
  width: 60%;
height: 54vw;
margin-top: 23.9%;
display: flex;
justify-content: initial;

 display: grid;
   
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 54vw;
    width: 60%;
}

.e1 {
    grid-area: 1 / 1 / 2 / 2;
}

.e12 {
    grid-area: 3 / 3 / 4 / 4;
}







.e1, .ec1{
  margin-top: 5%;
  margin-left: 5%;
    position: absolute;
  object-fit: contain;
  transition: opacity 0.1s ease;
}
.e1{
  opacity: 1;
  animation: rotate-center 0.6s infinite both;
  }

    @keyframes rotate-center {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
  }

  .ec1{
  opacity: 0;
  z-index: 1;
  }

.eu1:hover .e1{
  opacity: 0;
  animation-play-state: paused;
}
.eu1:hover .ec1{
  opacity: 1;}







.e2, .ec2{
  margin-top: 5%;
  margin-left: 5%;
    position: absolute;
  object-fit: contain;
  transition: opacity 0.1s ease;
}
.e2{
  opacity: 1;
  animation: rotate-center 0.6s infinite both;
  }
   @keyframes rotate-center {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
  }
  .ec2{
  opacity: 0;
  z-index: 1;
 
}

.eu2:hover .e2{
  opacity: 0;
  animation-play-state: paused;
}
.eu2:hover .ec2{
  opacity: 1;}











.e3, .ec3{
 margin-top: 5%;
  margin-left: 5%;
    position: absolute;
  object-fit: contain;
  transition: opacity 0.1s ease;
}
.e3{
  opacity: 1;
  animation: rotate-center 0.6s infinite both;
  }
   @keyframes rotate-center {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
  }
  .ec3{
  opacity: 0;
  z-index: 1;
 
}
.eu3:hover .e3{
  opacity: 0;
  animation-play-state: paused;
}
.eu3:hover .ec3{
  opacity: 1;}












.e4, .ec4{
 margin-top: 5%;
  margin-left: 5%;
    position: absolute;
  object-fit: contain;
  transition: opacity 0.1s ease;
}
.e4{
  opacity: 1;
  animation: rotate-center 0.6s infinite both;
  }
   @keyframes rotate-center {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
  }
  .ec4{
  opacity: 0;
  z-index: 1;
 
}
.eu4:hover .e4{
  opacity: 0;
  animation-play-state: paused;
}
.eu4:hover .ec4{
  opacity: 1;}










.e5, .ec5{
  margin-top: 5%;
  margin-left: 5%;
    position: absolute;
  object-fit: contain;
  transition: opacity 0.1s ease;
}
.e5{
  opacity: 1;
  animation: rotate-center 0.6s infinite both;
  }
   @keyframes rotate-center {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
  }
  .ec5{
  opacity: 0;
  z-index: 1;

}
.eu5:hover .e5{
  opacity: 0;
  animation-play-state: paused;
}
.eu5:hover .ec5{
  opacity: 1;}









.e6, .ec6{
 margin-top: 5%;
  margin-left: 5%;
    position: absolute;
  object-fit: contain;
  transition: opacity 0.1s ease;
}
.e6{
  opacity: 1;
  animation: rotate-center 0.6s infinite both;
  }
   @keyframes rotate-center {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
  }
  .ec6{
  opacity: 0;
  z-index: 1;
  
}
.eu6:hover .e1{
  opacity: 0;
  animation-play-state: paused;
}
.eu6:hover .ec6{
  opacity: 1;}







.e7, .ec7{
 margin-top: 5%;
  margin-left: 5%;
    position: absolute;
  object-fit: contain;
  transition: opacity 0.1s ease;
}
.e7{
  opacity: 1;
  animation: rotate-center 0.6s infinite both;
  }
   @keyframes rotate-center {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
  }
  .ec7{
  opacity: 0;
  z-index: 1;
  
}
.eu7:hover .e7{
  opacity: 0;
  animation-play-state: paused;
}
.eu7:hover .ec7{
  opacity: 1;}






.e8, .ec8{
 margin-top: 5%;
  margin-left: 5%;
    position: absolute;
  object-fit: contain;
  transition: opacity 0.1s ease;
}
.e8{
  opacity: 1;
  animation: rotate-center 0.6s infinite both;
  }
   @keyframes rotate-center {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
  }
  .ec8{
  opacity: 0;
  z-index: 1;
  
}
.eu8:hover .e8{
  opacity: 0;
  animation-play-state: paused;
}
.eu8:hover .ec8{
  opacity: 1;}




.e9, .ec9{
 margin-top: 5%;
  margin-left: 5%;
    position: absolute;
  object-fit: contain;
  transition: opacity 0.1s ease;
}
.e9{
  opacity: 1;
  animation: rotate-center 0.6s infinite both;
  }
   @keyframes rotate-center {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
  }
  .ec9{
  opacity: 0;
  z-index: 1;
 
}
.eu9:hover .e9{
  opacity: 0;
  animation-play-state: paused;
}
.eu9:hover .ec9{
  opacity: 1;}






.e10, .ec10{
  margin-top: 5%;
  margin-left: 5%;
    position: absolute;
  object-fit: contain;
  transition: opacity 0.1s ease;
}
.e10{
  opacity: 1;
  animation: rotate-center 0.6s infinite both;
  }
   @keyframes rotate-center {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
  }
  .ec10{
  opacity: 0;
  z-index: 1;
 
}
.eu10:hover .e10{
  opacity: 0;
  animation-play-state: paused;
}
.eu10:hover .ec10{
  opacity: 1;}




.e11, .ec11{
 margin-top: 5%;
  margin-left: 5%;
    position: absolute;
  object-fit: contain;
  transition: opacity 0.1s ease;
}
.e11{
  opacity: 1;
  animation: rotate-center 0.6s infinite both;
  }
   @keyframes rotate-center {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
  }
  .ec11{
  opacity: 0;
  z-index: 1;
  
}
.eu11:hover .e11{
  opacity: 0;
  animation-play-state: paused;
}
.eu11:hover .ec11{
  opacity: 1;}




.e12, .ec12{
 margin-top: 5%;
  margin-left: 5%;
    position: absolute;
  object-fit: contain;
  transition: opacity 0.1s ease;
}
.e12{
  opacity: 1;
  animation: rotate-center 0.6s infinite both;
  }
   @keyframes rotate-center {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
  }
  .ec12{
  opacity: 0;
  z-index: 1;
 
}
.eu12:hover .e12{
  opacity: 0;
  animation-play-state: paused;
}
.eu12:hover .ec12{
  opacity: 1;}
























.korzina{
  margin-left: -10vw;
  animation: wobble-hor-bottom 3s linear infinite both;
}

@keyframes wobble-hor-bottom {
  0%,
  100% {transform: translateX(0%); transform-origin: 50% 50%;}
  15% {transform: translateX(-30px) rotate(-6deg);}
  30% {transform: translateX(15px) rotate(6deg);}
  45% {transform: translateX(-15px) rotate(-3.6deg);}
  60% {transform: translateX(9px) rotate(2.4deg);}
  75% {transform: translateX(-6px) rotate(-1.2deg);}
}

.vkorzine{
  width: 227px;
height: 100px;
margin-left:-25vw;
display: block;
position: relative;
background: url("./img/vkorzine.svg");
animation: walk1 1.5s steps(1) infinite;
}

@keyframes walk1{
    0%{ background-position: 0px top;}
    25%{ background-position: -227px top;}
    75% { background-position: -464px top;}
    100% { background-position: -701px top;}
}